{
  "singleQuote": true,
  "importOrder": [
    "^react",
    "^next",
    "^formik",
    "^moment",
    "^@fortawesome",
    "^@chakra",
    "^@agh-kiwis",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
