{
  "singleQuote": true,
  "importOrder": [
    "@fullcalendar/react",
    "@fullcalendar/interaction",
    "@fullcalendar/timegrid",
    "^react",
    "^@nestjs",
    "^next",
    "^formik",
    "^moment",
    "^@fortawesome",
    "^@chakra",
    "^@agh-kiwis",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
