NODE_ENV=development
APP_NAME="AGH Kiwis"

FRONTEND_DOMAIN=http://localhost:4200
FRONTEND_PORT=4200

NEXT_PUBLIC_BACKEND_DOMAIN=http://localhost:3333
NEXT_PUBLIC_API_PREFIX=graphql
BACKEND_PORT = 3333

# Cookies
REFRESH_COOKIE_DURATION=86400
AUTH_COOKIE_NAME=Authorization

# Database
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=agh_kiwis_user
DATABASE_PASSWORD=password
DATABASE_NAME=agh_kiwis
DATABASE_SYNCHRONIZE=true
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=§
DATABASE_DROP_SCHEMA=false

# JWT Authentication
AUTH_JWT_SECRET=TODO
AUTH_JWT_TOKEN_EXPIRES_IN=1d

# NX CLOUD Configurations
NX_CLOUD_AUTH_TOKEN=

# App custom behaviour-related
APP_SEED_DATABASE=false
ENABLE_GRAPHQL_SANDBOX=false
